<div class="max-w-screen-md w-full mx-auto bg-teal-50 px-3">
  <h2 class="h2">Frequently Asked Questions</h2>
  <ul>
    <li class="h3">Is Salty Swimming available as a mobile app?</li>
    <li>At present Salty Swimming is only available as a website. This allows anyone to use it from any device that’s connected to the internet. </li>
    <li class="h3">Does Salty Swimming work worldwide?</li>
    <li>Whilst the maps that are built into Salty Swimming have worldwide coverage, the tidal data is currently only available for the British Isles and Ireland.</li>
    <li class="h3">Why swim in a tidal pool rather than the open sea?</li>
    <li>Tidal pools are typically more accessible and safer than venturing into the open ocean. They provide an opportunity for people of all ages and swimming abilities to enjoy the water. Tidal pools often have shallow areas, calm waters, and natural barriers that protect against strong currents and waves, making them ideal for swimming, wading, and exploring.</li>
    <li class="h3">Does Salty Swimming use my personal data?</li>
    <li>Salty Swimming does not collect or use your personal data. If you sign up for an account you will need to provide your email address and create a password but this information will not be used for anything other than logging you in or out and it will not be shared.</li>
    <li class="h3">Is Salty Swimming for me?</li>
    <li>Salty Swimming is designed specifically for wild coastal swimmers who want to plan their visits to tidal pools and hidden beaches without the headache of checking surf forecasts for multiple locations. </li>
    <li class="h3">What did people do before Salty Swimming?</li>
    <li>Prior to Salty Swimming, swimmers had to rely on laborious methods such as scouring various surf forecasts or seeking information from local social media groups to ascertain suitable coastal swimming conditions. This involved time-consuming research and often led to frustration. Salty Swimming eliminates the need for such manual efforts and replaces them with a personalised wild swim forecast, available at your fingertips in moments!💦 ✨</li>
    <li class="h3"></li>
    <li></li>
    <li class="h3"></li>
    <li></li>
  </ul>

</div>