<div class="max-w-screen-md w-full mx-auto bg-teal-50 px-3">
    <div class="px-5">
      <h1 class="h2">What affects Tidal Variation?</h1>
      <The>Have you ever wondered how much the height of high tide itself might vary? How about the difference between high tide and low tide in metres? The height of high tide and the difference between high tide and low tide, known as the tidal range, can vary significantly depending on several factors. Let's explore these factors and their influence on tidal variations... </p>
      <br>
    <%= image_tag "ss1.jpg", class: "h-full w-full object-cover" %>
<br>
      <ol>
          <li>
              <strong>🧜‍♀️ Lunar Phase:</strong><br>
              The lunar phase has a direct impact on tidal variations. During a new moon or a full moon, when the Earth, Moon, and Sun are aligned, the gravitational forces are reinforced, resulting in higher high tides (spring tides) and lower low tides. Conversely, during the first and last quarter moons, when the gravitational forces are partially offset, the tidal range is smaller (neap tides).
          </li>
          <br>
          <li>
              <strong>🧜‍♀️ Sun-Moon Alignment:</strong><br>
              The alignment of the Sun and Moon relative to Earth influences tidal variations. When the Sun and Moon are aligned on the same or opposite sides of the Earth, the gravitational forces combine, causing higher high tides and lower low tides. These alignment patterns occur during the new moon and full moon phases.
          </li>
          <br>
          <li>
              <strong>🧜‍♀️ Geography and Topography:</strong><br>
              The coastal geography and underwater topography play a significant role in tidal variations. Areas with a funnel-shaped coastline or a narrowing bay tend to experience a greater tidal range. In contrast, locations with extensive shallow areas or wide estuaries may have smaller tidal ranges. The shape and depth of the ocean floor, as well as the presence of islands, headlands, and channels, can also affect the flow and height of tides.
          </li>
          <br>
          <li>
              <strong>🧜‍♀️ Oceanic and Atmospheric Conditions:</strong><br>
              Oceanic and atmospheric conditions, such as prevailing winds, atmospheric pressure systems, and storms, can introduce short-term variations in tidal heights. Strong onshore winds can push water towards the coast, resulting in higher high tides, while offshore winds can cause water to recede, leading to lower high tides. Similarly, low-pressure systems, like hurricanes or cyclones, can generate storm surges, causing significant deviations from predicted tide heights.
          </li>
          <br>
          <li>
              <strong>🧜‍♀️ Seasonal and Weather Patterns:</strong><br>
              Seasonal changes and weather patterns can also impact tidal variations. For example, during winter months, when storms are more frequent and winds are stronger, tidal ranges may be larger due to the combined effect of storm surges and astronomical forces. In contrast, during calmer weather conditions, tidal variations may be smaller.
          </li>
          <br>
          <li>
              <strong>🧜‍♀️ Local Bathymetry:</strong><br>
              The depth and shape of the ocean floor, known as bathymetry, can influence tidal variations in specific areas. Shallow, gradually sloping coastlines can lead to longer tidal durations and smaller tidal ranges. Steeply sloping coastlines, on the other hand, can cause faster tidal currents and larger tidal ranges.
          </li>
      </ol>
      <br>
      <p>It's important to note that tidal variations are complex and depend on the combination of these factors, which can differ from one location to another. To obtain accurate information about tidal heights and variations for a specific area, consult local tide tables or use reliable online resources such as Salty Swimming that provide detailed predictions. That way you won’t get caught on the wrong side of the tide!</p>
    </div>
    <br><br>
</div>
