<div class="max-w-screen-md w-full mx-auto bg-teal-50 px-3">
  <h2 class="h2">Why Visit a Tidal Pool?</h2>
  <p>Visiting a tidal pool can be a unique and rewarding experience for several reasons:</p>
  <ol>
    <li>
      <h3>Fascinating Marine Life</h3>
      <p>Tidal pools are home to a diverse range of marine organisms, including colorful fish, crustaceans, anemones, starfish, and other fascinating creatures. These pools provide a glimpse into the underwater world and offer opportunities for observation and exploration. It's a chance to encounter and learn about marine life up close.</p>
    </li>
    <li>
      <h3>Natural Nurseries</h3>
      <p>Tidal pools serve as natural nurseries for many marine organisms. The relatively calm and sheltered environment of these pools provides a safe haven for young fish and other species to grow and develop before venturing out into the open ocean. Exploring tidal pools can offer a chance to witness the early stages of life for various marine creatures.</p>
    </li>
    <li>
      <h3>Biodiversity Hotspots</h3>
      <p>Tidal pools often host a high level of biodiversity, as they are a transition zone between the land and the sea. The mixing of saltwater and freshwater, along with the varying levels of exposure to sunlight and waves, creates a unique habitat that supports a wide array of plant and animal species. This biodiversity makes tidal pools ecologically important and captivating for nature enthusiasts.</p>
    </li>
      <%= image_tag "ss3.jpg", class: "h-full w-full object-cover" %>

    <li>
      <h3>Accessibility and Safety</h3>
      <p>Tidal pools are typically more accessible and safer than venturing into the open ocean. They provide an opportunity for people of all ages and swimming abilities to enjoy the water. Tidal pools often have shallow areas, calm waters, and natural barriers that protect against strong currents and waves, making them ideal for swimming, wading, and exploring.</p>
    </li>
    <li>
      <h3>Geological Wonders</h3>
      <p>Tidal pools are often formed in fascinating geological settings, such as rocky shorelines, cliffs, and formations shaped by the relentless action of waves. These unique geological features add an element of scenic beauty and intrigue to the overall experience. Exploring tidal pools allows you to appreciate the natural forces that have shaped the coastal landscape over time.</p>
    </li>
    <li>
      <h3>Serenity and Relaxation</h3>
      <p>Tidal pools offer a tranquil and serene environment. They provide a place to unwind, connect with nature, and enjoy the soothing sounds of the ocean. Whether it's sitting by the pool, listening to the waves, or taking a refreshing dip, tidal pools can provide a sense of calm and relaxation.</p>
    </li>
  </ol>
  <p>When visiting tidal pools, it's important to be mindful of the fragile ecosystem and follow responsible practices. Avoid damaging or removing marine life, refrain from littering, and leave the pool as you found it to preserve its natural beauty for future visitors.</p>
</div>